body{
    margin: 0;
}
header{
    background-color: rgb(117, 201, 222);
}
.khung{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
.ben-phai{
    float: right;
}
.tim-kiem{
    width: 250px;
    padding: 5px 15px;
    border: 1px solid gainsboro;
    line-height: 15px;
}
.nut-tim-kiem{
    background-color: white;
    border: 1px solid gainsboro;
    line-height: 15px;
    padding: 5px;
    margin-left: -5px;
}
.khung-co{
    float: right;
    margin-left: 15px;
    margin-top: -5px;

}
nav{
    text-align: right;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    z-index: 1;
    position: relative;
}
nav a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px;
}
nav>a:hover{
    color: orange;
}
.banner{
    width: 100%;
    margin-top: -48px;
}
footer{
    background-color: gainsboro;
    min-height: 300px;
}
footer .khung div{
    float: left;
}
.cot-1, .cot-2 , .cot-3, .cot-4 {
    width: 22%;
    margin-right: 3%;
}


.link-tieu-de{
    display: block;
    color: orangered;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid gray;
    margin-right: 20px;
    margin-bottom: 15px;
}
.gioi-thieu img{
    height: auto;
    max-width: 100%;
    border: 0;
    vertical-align: middle;

}
h1{
    text-align: center;
}